<!-- INICIO DEL FOOTER -->
<footer>
    <div class="row">
        <div class="col">
            <img class="logo-banco" src="/assets/logo-bank-app.png" alt="logo-banco">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, dolores. Nam autem totam consequatur reiciendis adipisci, enim voluptatum voluptatibus cum dolorum vitae iusto tenetur, saepe delectus deserunt cupiditate, expedita quae?
            Quia totam beatae distinctio. Consequatur aut expedita tempore iusto perferendis iure architecto ad harum fugit quasi ut nesciunt ipsa repellendus, delectus alias quis! Ex, asperiores at molestias voluptate explicabo fugiat?</p>
        </div>
        <!-- INICIO DE INFORMACION SOBRE LA OFICINA -->
        <div class="col">
            <h3>Oficina <div class="underline"><span></span></div></h3>
            <p>Formosa 2716, Lanús Oeste</p>
            <p>Buenos Aires, Argentina</p>
            <p class="email-id">rocibessioagmail.com</p>
            <h4>011 3822-5232</h4>
        </div>
        <!-- FIN DE INFORMACION SOBRE LA OFICINA -->

        <!-- INICIO DE LOS LINKS A OTRAS PAGES-->
        <div class="col">
            <h3>Links <div class="underline"><span></span></div></h3>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Sign Up</a></li>
            </ul>
        </div>
        <!-- FIN DE LOS LINKS A OTRAS PAGES -->

        <!-- INICIO DE LINKS A REDES -->
        <div class="col">
            <h3>NewsLetter <div class="underline"><span></span></div></h3>
            <form>
                <i class="far fa-envelope"></i>
                <input required placeholder="Ingrese su e-mail" type="email" name="emailNewsLetter" id="emailNewsLetter">
                <button type="submit"><i class="fas fa-arrow-right"></i></button>
            </form>
            <div class="social-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-github"></i>
                <i class="fab fa-linkedin"></i>
            </div>
        </div>
        <!-- FIN DE LINKS A REDES -->
    </div>
    <!-- INICIO DE LA DIVISION DEL FOOTER -->
    <hr>
    <p class="copy-right">Rocio Soledad Bessio - 2024</p>
    <!-- FIN DE LA DIVISION DEL FOOTER -->
</footer>
<!-- FIN DEL FOOTER -->