<div class="contenedor">
    <!-- INICIO DE IMPORTACION DEL MODULO DEL NAVBAR/HEADER -->
    <div > <app-navbar></app-navbar></div>
    <!-- FIN DE IMPORTACION DEL MODULO DEL NAVBAR/HEADER -->
    
    <!-- INICIO DEL MAIN -->
     <main>
         <p>home works!</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor reprehenderit culpa esse quas est obcaecati consequuntur, non, modi maxime recusandae eaque corporis totam. Deserunt sint laudantium itaque, doloremque obcaecati officiis.
         Voluptatibus quis quod eaque doloribus eos nobis vel omnis ullam est. Natus, sint sunt aspernatur explicabo placeat sequi dolorum facere autem pariatur illo nesciunt, soluta praesentium acumenda esse voluptates expedita, quod repellat?
         Reprehenderit adipisci accusantium ipsam beatae maxime, at magni. Voluptates, suscipit! Reiciendis dolores quas ullam veritatis? Consequuntur nihil minus assumenda error, velit repudiandae vero eos aperiam libero deleniti, minima ipsum sapiente.
         Consectetur facere, laboriosam aspernatur libero eligendi facilis voluptatum magni, totam eius exercitationem quidem aut. Officia reiciendis odit, consequuntur commodi soluta sequi voluptas dolor corrupti nam voluptatibus minima maxime architecto cupiditate.
         Aut facilis magnam maiores tempore obcaecati quos voluptatibus deleniti eveniet earum commodi, consequuntur aperiam reiciendis dolorem excepturi voluptas optio deserunt cumque voluptatem. Corrupti tenetur officia earum nemo aliquid quam fugiat.
         Corporis ab voluptates exercitationem asperiores eum odit ad aliquid fuga, voluptatibus, quam placeat commodi, nisi nulla quasi nam consectetur. Corrupti maiores fugit iste, id quaerat quidem ab tempora culpa minus!
         Architecto exercitationem maiores dolor pariatur, corrupti officia deserunt? Quo, enim mollitia. Magnam, dolorum enim optio, repudiandae aperiam adipisci omnis, eius repellendus cum rerum debitis nulla dolor labore natus aut harum.
         Cum quia et beatae amet quibusdam libero ipsum quasi unde consequatur modi. Nam officia odio pariatur, totam accusantium perspiciatis vero sed illo ab, tenetur recusandae ipsum natus aperiam blanditiis tempora!
         Deserunt beatae quaerat, ex doloribus blanditiis voluptatibus necessitatibus maiores unde, architecto ab veniam reprehenderit doloremque, iste quidem quasi voluptatum porro pariatur aliquam quod. Nihil quaerat dolor quae facere incidunt harum.
         Facere vel, itaque illo porro non repellendus perferendis quibusdam, error, mollitia amet dolorum et dolore alias vitae rem quasi? Alias accusamus quisquam culpa adipisci perferendis ratione non nihil obcaecati vitae!
         Ad sunt repellat perspiciatis atque illum itaque odit quaerat! Magni, excepturi quaerat. Vero at doloremque optio nostrum, eaque debitis beatae magni fugiat consequatur rerum ipsam quia impedit culpa molestiae odit.
         Ex aperiam itaque labore mollitia non, rerum, quia facilis placeat eligendi sed beatae ad laudantium autem ut earum molestias, corrupti excepturi dignissimos vero? Voluptate quibusdam nobis officiis excepturi, incidunt numquam.
         Consectetur enim, quaerat, eligendi expedita saepe consequatur odio nemo animi harum ex ipsam accusantium inventore sit. Ipsam aspernatur obcaecati dolor amet dignissimos blanditiis harum voluptas in iusto dolore! Sequi, reiciendis.
         Facilis quae asperiores deserunt odit distinctio fugiat minima, quo itaque impedit vero, harum temporibus exercitationem ex quidem vitae. Esse, sint eos! Deleniti eius deserunt aliquam. Id, provident. Praesentium, sunt nam!
         Dolore quia culpa labore vitae saepe quos, id quas at quibusdam blanditiis velit aliquid quae beatae neque molestias sint mollitia voluptates rem magnam tenetur itaque corrupti quaerat? Quis, dolores ducimus.
         Illum commodi odio non. Autem veniam vero, adipisci officia quidem, ut architecto maiores laboriosam, vel consectetur accusamus aperiam. Modi facilis consectetur eum quos et. Dicta, magnam sit. Quaerat, eos beatae.</p>
    </main>
    
    <!-- FIN DEL MAIN -->
    
    <!-- INICIO DE IMPORTACION DEL FOOTER -->
    <app-footer></app-footer>
    <!-- FOOTER DE IMPORTACION DEL FOOTER -->
</div>