/* IMPORTACION DE BOOTSTRAP */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


*{ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    color: black;
    font-family: monospace;
}

/* Modifico el body */
body{
    /* width: 100%; */
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #c6d284;
    /* background-color: #080929; */
}
  